* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    width: 100%;
    border-radius: 5px;
}

.hero-image{
    background-image: url("./images/scotland-1987599_1280.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    text-align: center;
    color: white;
    padding-top: 270px;
    font-size: 4rem;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width:60%;
    margin: auto;
    margin-top: 70px;
}

.info{
    font-size: 1.25em;
    
}

.three-column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width:60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.card-text{
    color: #ffffff;
    padding:20px;
    font-size: 1.0em;
    text-align: center;
}
.card{
    background-color: blue;
   
}

.blue{
    margin-top: 30px;
}