* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    width: 100%;
}

.hero-image{
    background-image: url("./images/scotland-1987599_1280.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    text-align: center;
    color: white;
    padding-top: 270px;
    font-size: 4rem;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width:80%;
    margin: auto;
    margin-top: 40px;
}

.info{
    font-size: 1.25em;
}